<ion-view>
  <ion-nav-title>
    {{ 'MENU_03'|translate }}
  </ion-nav-title>
  <ion-content>

	<br>
	<br>
	<br>
	<br>
		<p><center>
		<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
			<!-- The terms of service are available at http://www.google.com//cse/docs/tos.html -->
			<form name="cse" id="searchbox_demo" action="https://translate.google.com/#en/ms/" target="_blank">
				<input type="hidden" name="cref" value="" />
				<input type="hidden" name="ie" value="utf-8" />
				<input type="hidden" name="hl" value="" />
				<input name="q" type="text" size="50" />
				<input type="submit" name="sa" value="Google Translate to BM" />
			</form>
			<script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>
		</center></p>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<br>
		<br>
		<br>
		<br>
		<br>
    <label translate="hp1">Swipe to the right to reveal the left menu</label>
    <br>
    <button class="button button-small button-positive findbutton" ng-click="ChangeLanguage('en')">EN</button>
    <br>
    <button class="button button-small button-calm findbutton" ng-click="ChangeLanguage('my')">MY</button>
		<p><div class="text-center">
		<a href="#/app/"><img class="avatar relative" ng-src="img/ssm_logo.png" size="60,60" /></a>
		</div></p>

		  <p><center>© 2016 <a ng-click="openURL('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. All Rights Reserved</a></center></p>

		<br>

  </ion-content>

  <div ng-app="starter.controllers" ng-controller="FloatMenuCtrl as fmc">
    <nav mfb-menu position="br" effect="zoomin" label="{{'SERVICES'|translate}}"
         active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
      <!--<button mfb-button icon="paper-airplane" label="menu item"></button>-->
      <button mfb-button label="{{button.label}}" icon="{{button.icon}}" nav-clear
              ng-repeat="button in buttons" ng-click="goBack(button.dest)"></button>
    </nav>
  </div>
</ion-view>
