<ion-view view-title="Browse">
<ion-content>
    <h1>CONTACT</h1>
	<center>CONTACT US:</center>
     
  <div class="text-center">
    <img class="avatar relative" ng-src="img/ssm_logo.png" size="60,60" />
  </div>
 
<br/>
<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('https://facebook.com/SSM')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/SSM')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/SSM')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mail://SSM-CONTOH@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation
    <p>
        Email: SSM-CONTOH@gmail.com
    </p>
  </a>
  
</div>

<br/>
<div class="text-center">
<p>© 2016 <a ng-click="openURL('https//www.ssm.com.my'>Suruhanjaya Syarikat Malaysia. All Rights Reserved</p>
</div>

  </ion-content>
</ion-view>
