<ion-view>
  <ion-nav-title>
    {{ 'MENU_01'|translate }}
  </ion-nav-title>


<ion-content>
<div class="bgtukar" style="height: 100%;">

<div class="text-left">
<style>
.ng-binding div {
    margin: 5px;
    font-size: 14px;
}
.ng-binding div.field-items{
    padding-bottom: 12px;
}
.ng-binding div.field-label{
    font-weight: bold;
}
.ng-binding image.file-icon{
    background: none;
}
.ng-binding p{
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even){background-color: #f2f2f2}

.attachment{
        margin: 6px;
    font-size: 14px;
    font-weight: bold;
}

    
</style>

</div>

<div class="list" ng-app="starter.controllers" ng-controller="DetailNewsResult">
<strong><p class="positive titlenews">{{userData.data.title}}</p></strong>
  <div class="item item-text-wrap detail-news-container">
        <div ng-bind-html="userData.data.content.article"></div>
        <!--Attachment-->
        <div ng-if="userData.data.content.attachments.length > 0" class="attachment">
        {{'ATTACHMENT'|translate}}
       </div>
        <div ng-if="userData.data.content.attachments.length > 0" ng-repeat="attachment in userData.data.content.attachments" >
                <div class="attachment attachment-items ">
                    <div ng-controller="BrowseLink" class="attachment-item" target="_blank"
                       ng-click="openXLink('{{attachment.url}}')">
                      <font color="#2E2F83"><u>{{attachment.title}}</u></font>
                    </div>
                </div>
                

        </div>
  </div>
</div>
</div>
</ion-content>
     <div ng-controller="BrowseLink" class="ssmfooter"><center>© 2016 <a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. {{'ALLRIGHTRESERVED'|translate}}</a></center></div>
</ion-view>
