
<ion-view>
  <ion-nav-title>
    {{'MENU_06'|translate}}
  </ion-nav-title>

<ion-content ng-app="starter.controllers" ng-controller="CmpndMenuCtrl as mc">

<div class="bgtukar">
  <br>

<center><font color="grey">{{'FILLIN'|translate}}</font></center>
<div class="list" >
	<!-- <label class="item item-input item-select">  -->
	<div class="list" border="#2E2F83">
	<label class="item item-input item-select">
	  <span class="input-label"><strong><font color="#2E2F83" translate="COMPOUND">Compound:</font></strong></span>
    <select ng-model="input.compound" ng-change="compoundSelect()">
      <option value="ROC" ng-selected="true" translate="optROC"></option>
      <option value="ROB" translate="optROB"></option>
    </select>
  </label>
<style>
    .item-select select{
        width: 100%;
        direction: ltr;
        position: inherit;
        padding-left: 0px;
    }
</style>
	<label class="item item-input item-select">
	<span class="input-label"><strong><font color="#2E2F83" translate="ENTITYTYPE">Entity Type:</font></strong></span>
    <select ng-model="input.entityType" ng-change="entityTypeSelect()">
      <option value="01" translate="optEntityCRegNo">Company Registration No.</option>
      <option value="02" translate="optEntityBRegNo">Business Registration No.</option>
      <option value="03" translate="optEntityNewIC">New IC No.</option>
      <option value="04" translate="optEntityPassNo">Passport No.</option>
      <option value="06" translate="optEntityCRefNo">Company Reference No.</option>
      <option value="07" translate="optEntityOldIC">Old IC No.</option>
      <option value="08" translate="optEntitySecLicenseNo">Co. Secretary License No.</option>
      <option value="10" translate="optEntityPoliceID">Police ID</option>
      <option value="17" translate="optEntityArmyID">Army ID</option>
      <option value="11" translate="optEntityAuditFirm">Audit Firm</option>
      <option value="12" translate="optEntityAuditor">Auditor</option>
      <option value="15" translate="optEntityOthers">Others</option>
    
    </select>

  </label>

	<label class="item item-input">
	<span class="input-label"><strong><font color="#2E2F83" translate="ENTITYNO">Entity Number:</font></strong></span>
    <input type="text" font="#FF0000" placeholder="{{placeHolder}}" ng-model="input.entityNo">
		<!--<input type="text" font="#2E2F83" placeholder="Example: 123456" ng-model="data.input">-->
  </label>
	</div>


	<p>

	


	<!--to center button, kena tambah <center></center> dan juga <div class="centered"> pada butang as below-->
	<center>
	<div class="centered" ng-controller="CompoundInfo">
		<button class="button button-medium button-positive findbutton" ng-click="compoundInfo(input.entityNo, input.entityType)">
			<strong><font color="F9EC00"><div translate="FIND">Find</div></font></strong>
		</button>
	</div>
	</center>

	<br>


  <p aligned:"left" style="margin:20px">
  <font color="#2E2F83"><strong translate="ATTENTION">ATTENTION!</strong></font>
  <p aligned:"left" style="margin:20px" translate="eCompound_02">1. The information displayed may take time to be updated. As such please keep the payment receipt as proof of payment.
  <br>
  <br>
  2. SSM shall not be held liable and responsible for any misuse of the information by irresponsible person.
  <br>
  <br>
  3. Please contact the nearest SSM office for a copy of the compound notice.
  <br>
  <br>
  4. For the purpose of validation and verification on the information displayed, please contact 03-22995334 or email ar_compliance@ssm.com.my.
  </p>
</div>
</div>
</ion-content>
  <div ng-app="starter.controllers" ng-controller="FloatMenuCtrl as fmc">
    <nav mfb-menu position="br" effect="zoomin" label="{{'SERVICES'|translate}}" menu-state="mfb"
         active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
      <!--<button mfb-button icon="paper-airplane" label="menu item"></button>-->
      <button mfb-button label="{{button.label}}" icon="{{button.icon}}" nav-clear
              ng-repeat="button in buttons" ng-click="goBack(button.dest)"></button>
    </nav>
  </div>

<div ng-controller="BrowseLink" class="ssmfooter"><center>© 2016 <a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. {{'ALLRIGHTRESERVED'|translate}}</a></center></div>
</ion-view>
