<ion-view view-title={{'eQUERYResult'|translate}}>
<ion-content>
<div class="bgtukar">
<div class="list">
<br>
<center><div translate="eQuery_01">List of Company that have queried document under <br>
  Section 11(8) & (9) of the Companies Act 1965.</div></center>
<br>
  <div class="list" ng-app="starter.controllers" ng-controller="QueryResult">
  <!--
  <label class="item item-input" border="#2E2F83">
    <span class="input-label"><font color="#2E2F83">Comp No./MyCoID:</font></span>
    <font size="2"> {{queryData.query}}</font>
  </label>
  -->
  <ion-item class="item-text-wrap">	<!--text wrap untuk ayat-ayat yang panjang sangat-->

    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="placeHolderCOMPANYNO">Comp No./MyCoID:</font></span>
      <font size="2px"> {{userData.companyNo}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="COMPANYNAME">Company Name:</font></span>
      <font size="2px"> {{userData.companyName}}</font>
    </label>

    <div class="item" ng-if="userData.documents.length > 0" ng-repeat="document in userData.documents">
      <!--Document-->
      <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="DOCUMENT">Document:</font></span>
        <font size="2px"> {{document.document}}</font>
      </label>

      <!--Document Date-->
      <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="DOCUMENTDate">Document Date:</font></span>
        <font size="2px"> {{document.documentDate}}</font>
      </label>

      <!--Query Date-->
      <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="QUERYDate">Query Date:</font></span>
        <font size="2px"> {{document.queryDate}}</font>
      </label>
        
    <!--Query Date-->
      <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="REJECTDate">Reject Date:</font></span>
        <font size="2px"> {{document.rejectDate}}</font>
      </label>

      <!--Document Status-->
      <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="DOCUMENTStatus">Status:</font></span>
        <font size="2px"> {{document.status}}</font>
      </label>

    </div>

    <label ng-hide="userData.documents.length > 0">{{'NODATAFOUND'|translate}}</label>
  </ion-item>
</div>
</div>
</div>
</ion-content>
    <div ng-controller="BrowseLink" class="ssmfooter"><center>© 2016 <a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. {{'ALLRIGHTRESERVED'|translate}}</a></center></div>
</ion-view>
