
<ion-view >
    <ion-nav-bar class="home-topbar"></ion-nav-bar>
    <ion-nav-buttons side="left" >
        <button class="button button-icon button-energized ion-navicon my" style="background-color:rgba(47,47,131,0.9);border:10px;" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        
    </ion-content>
     <div ng-controller="BrowseLink" class="ssmfooter"><center>© 2016 <a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. {{'ALLRIGHTRESERVED'|translate}}</a></center></div>
</ion-view>


