<ion-view title="Login">
  <ion-content>
    <div class="text-center">
      <img class="avatar relative" ng-src="img/ssm_logo.png"/></a>
    </div>
    <br>
    <div class="list card">
      <center><p class="dark">WELCOME TO SURUHANJAYA SYARIKAT MALAYSIA</p>
      <p class="dark">Initial Edition 1.0</p></center>
    </div>
	    
   

<form ng-submit="doLogin()">
<div class="list">
	<label class="item item-input">
		<span class="input-label">Username</span>
		<input type="text" ng-model="loginData.username">
	</label>
	<label class="item item-input">
		<span class="input-label">Password</span>
		<input type="password" ng-model="loginData.password"> 
	</label>
	<label class="item">
		<button class="button button-block button-positive" type="submit">Sign In</button>
	</label>
</div>
</form> 


    
  </ion-content>
</ion-view>

