<ion-view title="iMap">
  <ion-content>

    <div>
      <div id="map">
      </div>

      <div width="80%" class="list list-inset" style="margin-left:10%;margin-right:10%;">
        <label class="item item-input">
          <input type="text" ng-model="user.desc" placeholder="Description">
        </label>

        <button class="button button-full button-positive" ng-click="saveDetails()">
          Save
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
