<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
	
		<p><center>
		<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
			<!-- The terms of service are available at http://www.google.com//cse/docs/tos.html -->
			<form name="cse" id="searchbox_demo" action="https://www.google.com">
				<input type="hidden" name="cref" value="" />
				<input type="hidden" name="ie" value="utf-8" />
				<input type="hidden" name="hl" value="" />
				<input name="q" type="text" size="50" />
				<input type="submit" name="sa" value="Search" />
			</form>
			<script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>                             
		</center></p>
	
  </ion-content>
</ion-view>
