<ion-view view-title="Status 308">

<ion-content>

<div class="bgtukar">

 <br>
  <center><div translate="s308_01">Status of Application to Strike-Off Company Name<br> under S308 of Companies ACT 1965</div></center>
  <br>

<center><font color="grey">{{'FILLIN'|translate}}</font></center>
<div class="list">
    <!-- <label class="item item-input item-select">  -->
  <div class="list" border="#2E2F83">

  <div class="list" ng-apps="starter.controllers" ng-controller="S308Info">

  <div class="list" border="#2E2F83">
  <label class="item item-input">
  <span class="input-label"><strong><font color="#2E2F83" translate="COMPANYNO">Company Number:</font></strong></span>
  <input type="text" font="#2E2F83" placeholder="{{placeHolder}}" ng-model="data.input"></label>
  </div>
  <center>
    <button class="button button-medium button-positive findbutton" ng-click="s308Info(data.input)">
      <font color="F9EC00"><strong><div translate="FIND">Find</div></strong></font>
    </button>
  </center>

  </div>
  </div>
</div>


</div>
</ion-content>


	<div ng-app="starter.controllers" ng-controller="FloatMenuCtrl as fmc">
    <nav mfb-menu position="br" effect="zoomin" label="{{'SERVICES'|translate}}" menu-state="mfb"
         active-icon="ion-chevron-down" resting-icon="ion-chevron-up" toggling-method="click">
      <!--<button mfb-button icon="paper-airplane" label="menu item"></button>-->
      <button mfb-button label="{{button.label}}" icon="{{button.icon}}" nav-clear
              ng-repeat="button in buttons" ng-click="goBack(button.dest)"></button>
    </nav>
	</div>


    <div ng-controller="BrowseLink" class="ssmfooter"><center>© 2016 <a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia. {{'ALLRIGHTRESERVED'|translate}}</a></center></div>
</ion-view>


