/* Empty. Add your own CSS if you like */


/* indent text XXX pixel*/
.indented
{
	margin-right: 20px;
	margin-left: 20px;
}

/* sliding boxes - 3 boxes */
.box1 {
   background-color: #CCCCCC !important;
   height: auto;
   border: 0.5px solid #000000;
   border-radius: 5px;
/*
   margin-left: 20px;
   margin-right: 20px;
*/
  
    margin-left: 10%;
    margin-right: 10%;
    
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 10px 10px 10px 10px;
   display: table;

}
@media (min-width: 760px) {
 
    .box1 {
         margin-left: 20%;
        margin-right: 20%;
    }
}

.box2 {
   background-color: #CCCCCC !important;
   height: 210px;
   border: 0.5px solid #000000;
   border-radius: 5px;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.box3 {
   background-color: #CCCCCC !important;
   height: 210px;
   border: 0.5px solid #000000;
   border-radius: 5px;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 5px;
   margin-bottom: 5px;
}

 /*Tukar gambo BG pada page tertentu.*/
.bgtukar {
/*    background: url(../img/background1.png);*/
    background-color: white;
    background-repeat: repeat;
    background-size: full;
    background-position: center;
    width: auto;
    height: auto;
    margin: auto;
    z-index: 2;
    position: relative;
    margin-bottom: 110px;
}

/* Tukar warna BG menu jadi kaler lain.*/
.custom {
  background-color: #2e2f83 !important;
 }

 /*Tukar BG jadi transparent pada ion-item*/
.custom .item {
  background-color: #2e2f83  !important;
  border:none;   /*takde border*/
  border-top: 1px solid;   /*Lebar top border pada setiap menu item*/
/*  border-bottom:2px solid;   Lebar bottom border pada setiap menu item*/
  border-color: #666;   /*Warna top dan bottom border*/
  color: yellow;    /*Text color setiap item. */
  font-size: 17px;
/*    height: 62px;*/
    padding-left: 15px;
}

/*warna border untuk item terakhir*/
.custom .item:last-child {
  border-bottom: 2px solid #666;
  padding-left: 30px;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Warna font*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: yellow;  /*Text color for each item, overrides the color property above*/
}

.bar-class {
  background-color: #2E2F83;
  color: #F9EC00;
  background: #2E2F83;
}

.title-class {
  color: #F9EC00;
}

.icon2-size {
  font-size: 90px;
}

.findbutton {
  /*line-height: 20vh !important;*/
  width: 200px;
}

.title-blue {
  color: #2E2F83;
}

.list-custom {
  display: list-item;
  list-style-position: inside;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?y8nov0');
    src:    url('../fonts/icomoon.eot?y8nov0#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?y8nov0') format('truetype'),
        url('../fonts/icomoon.woff?y8nov0') format('woff'),
        url('../fonts/icomoon.svg?y8nov0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriado';
    src: url('../fonts/myriad/myriad.eot');
    src: url('../fonts/myriad/myriad.eot') format('embedded-opentype'),
         url('../fonts/myriad/myriad.woff2') format('woff2'),
         url('../fonts/myriad/myriad.woff') format('woff'),
         url('../fonts/myriad/myriad.ttf') format('truetype'),
         url('../fonts/myriad/myriad.svg#myriado') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadPro.eot');
    src: url('../fonts/MyriadPro/MyriadPro.eot') format('embedded-opentype'),
         url('../fonts/MyriadPro/MyriadPro.woff2') format('woff2'),
         url('../fonts/MyriadPro/MyriadPro.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadPro.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadPro.svg#MyriadPro') format('svg');
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon2_308:before {
    content: "\e900";
    font-size: 35px;
}
.icon-icon2_eC:before {
    content: "\e901";
    font-size: 35px;
}
.icon-icon2_eQ:before {
    content: "\e902";
    font-size: 35px;
}
.icon-icon2_eS:before {
    content: "\e903";
    font-size: 35px;
}


    /* kotak untuk contain RSS feed pada main.html */
#header {
    width: auto;
    background-color: #000;
    height: auto;
}

#container {
    width: auto;
    float: center;
    height: autopx;
        background-color: #fff;
}
#first {
    width: auto;
    float: center;
    height: 30px;
        background-color:  	#fff;
}
#second {
    width: auto;
    float: center;
    height: 30px;
    background-color: #fff;
}
#third {
    width: auto;
    float: center;
    height: 30px;
    background-color:  	#fff;
}

.left, .right{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 49%;
  z-index: 100;
  width: 44px;
  background-color: rgba(0,0,0,0)
}

.left{

  left: 0;
}

.right{
  right: 0;
}

/*SSM style*/
ion-item label font.ng-binding{
    margin-right: 50px;
}

.bgtukar center{
    margin-left:20px;
    margin-right:20px;

}
.home-topbar {
/*    delete*/
   width: 382px;
    height: 26px;
    border: 0px solid #FFF;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, .8);
}

.s308-label1{
    width:145px;
}




.ng-binding .title{
        margin: 20px;
        font-size: 15px;
/*        padding-top: 15px;*/
    }
.titlenews-list{
    font-size: 13px;
}
.more-read{
    text-align: right;
    font-size: 12px;
    color: #2e2f83;
    margin-top: 5px;
}
.titlenews{
    margin: 20px;
    font-size: 15px;
}
.titlenews-main{
    background-color: #2e2f83;
    font-size: 13px;
    height: 25px;
}

.newscontent{
/*width:300px;*/
    height:124px;
/*    border:1px solid red;*/
    overflow:hidden;
    text-overflow:ellipsis;
/*    white-space: nowrap; */
    font-size: 13px;
    padding: 3px;
}
.box1{
      background-color: white !important;  
}
.slider{
       height: 220px; 
        margin-top: 30px;
}
.button.button-positive.button-clear{
        visibility: hidden;
}
.slider-page-info{
        margin-top: -19px;
        color: #2e2f83;
        font-weight: bold;
}
.icon-bottom{
        margin-top:30px;
/*        margin-bottom: 150px;*/
}
.ssmfooter{
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; 
    background-color: white;
    height: 20px;
}
.overflow-scroll .scroll {
    height: 75%;
}
.scroll{
    background-color: white;
    height: 100%;
}

.ssmmenu-left{
    height: 100%;
    background-color: #2e2f83;
    margin-top: 80px;
/*    font-weight: bold;*/
    font-family: "MyriadPro";
}
ion-header-bar.bar.menu-logo{
    background-color: white !important;
     height: auto;
}
div.menu-logo{
    height: 120px;
    width: 75%;
    background-color: white !important;
    background-image: url("../img/ssmlogo.png");
    background-size:contain;/* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    image-rendering: -webkit-optimize-contrast; /* to recover blurry*/
    align-content: center;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.menu-logo-wrapper {
    background: white;
    height: 120px;
    display: block;
    width: 120%;
    padding-right: -40px;
     padding-right: 10px; 
    padding-left: -10px;
    position: absolute;
    margin-left: -10px;
    margin-right: -10px;
    
}

/*
Standard color #2e2f83  !important or rgba(47,47,131,1)
*/

#map {
    width: 100%;
    height: 220px;
}


img.soscial-link {
    width: 50px;
    margin: 8px;
    margin-bottom: 50px;
}


.social-info{
    margin: 20px;
}

.info-container{
/*   margin :20px; */
    font-size: 13px;
    width: 60%;
    float: left;
}

.info-title{
    color: rgba(47,47,131,0.8);
    font-weight: bold;
    font-size: 14px;
    white-space: normal;
}
.info-details{
    margin-top: -10px;
    white-space: normal;
    word-wrap: break-word;
}

.social-title{
    margin-left: 20px;
}

label.item.item-input.item-select{
    font-size: 13px;
}

select#mySelect{
     font-size: 12px;
}

.info-icon {
    font-size: 30px;
    float: right;
    margin-right: 50px;
    margin-top: 8%;
}

.maintitle{
    color: yellow;
    padding-top: 3px;
    padding-left: 15px;
}

.detail-news-container{
    margin-bottom: 120px;
}

.slider-pager .slider-pager-page{
    color: #2e2f83;
}
.main-readmore{
    color: darkgrey;
    font-size: 20px;
    font-weight: bold;
    float:right;
    content: "ion-forward";
}

.news-readmore{
    color: darkgrey;
    font-size: 26px;
    font-weight: bold;
    float:right;
    content: "ion-forward";
    margin-bottom: 20px;
    float: right;
}

.item-input input{
    max-width:70%;
    margin-right: 10%;
    font-size: 13px;
    text-align:left;
}



.input-label{
    font-size: 14px;
    margin-left: 7px;
}

.item{
    font-size: 14px;
}


/*Iphone SE*/
@media (max-height: 620px) {
    
    .bgtukar-main{
            margin-top:28%;
    }  
    
    .bgtukar table {
        font-size: 12px;
    }
    .ng-binding .field-items{
        margin:2px;
        margin-left: -3px;
    }
    
    .scroll{
        margin-bottom: 120px;
    }
}

/*Iphohe 4*/
@media (max-height:500px){
    
    .bgtukar-main{
        margin-top: 25px;
    }
    
    
}

/*bgtukar for standard size*/
@media (min-height: 620px) {
    
    .bgtukar-main{
            margin-top:160px;
    }  
    
}

